<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dota2quiz" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".MainGameActiviti"
            android:label="@string/title_activity_main_game_activiti" >
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <activity android:name="com.vk.sdk.VKOpenAuthActivity" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".login.SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".login.SignUpOrLoginActivity"
            android:label="@string/title_activity_sign_up_or_login" >
        </activity>
        <activity
            android:name=".login.MyActivity"
            android:label="@string/title_activity_my" >
        </activity>
        <activity
            android:name=".login.DispatchActivity"
            android:label="@string/title_activity_dispatch" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>
